@media (min-width: 1920px) {
    .container{
        max-width: 1170px;
    }
}

@media (max-width: 1920px) {
    .logo {
        font-size: 1vw!important;
    }
    .block1-title {
        font-size: 1.9vw;
    }
    .text-step-mikocin {
        font-size: 1vw;
    }


}
